In [1]:
import pandas as pd
import numpy as np

In [14]:
# read csv file

df = pd.read_csv('/data/mimic-iv-2.2/mimic-iv-2.2/hosp/d_icd_diagnoses.csv.gz', compression='gzip')

In [15]:
df.head()

  icd_code                             long_title  icd_version
0     0010         Cholera due to vibrio cholerae            9
1     0011  Cholera due to vibrio cholerae el tor            9
2     0019                   Cholera, unspecified            9
3     0020                          Typhoid fever            9
4     0021                    Paratyphoid fever A            9

In [16]:
print(df.dtypes)

icd_code       object
long_title     object
icd_version     int64
dtype: object

In [17]:
df['icd_code'] = df['icd_code'].astype(str)

In [18]:
df['long_title'] = df['long_title'].astype(str)

In [19]:
df['icd_version'] = df['icd_version'].astype(int)

In [24]:
df=df[['icd_code', 'icd_version','long_title']]

In [25]:
df.head()

  icd_code  icd_version                             long_title
0     0010            9         Cholera due to vibrio cholerae
1     0011            9  Cholera due to vibrio cholerae el tor
2     0019            9                   Cholera, unspecified
3     0020            9                          Typhoid fever
4     0021            9                    Paratyphoid fever A

In [26]:
# compress the dataframe to gzip and save it as a csv file
df.to_csv('/data/mimic-iv-2.2/mimic-iv-2.2/hosp/d_icd_diagnoses.csv.gz', compression='gzip', index=False)

bq load --source_format=CSV --skip_leading_rows=1 booming-edge-403620:mimiciv_hosp.d_icd_diagnoses d_icd_diagnoses.csv.gz